.root{
    max-width: 450px;
    min-width: 450px;

    padding: 5px;
    margin: 20px;
}

.sunrise-sunset-table{
    max-width: 50px;
    margin-top: 20px;
}

.MuiTableCell-root{
    border: none !important;
    /*margin-top: 10px !important;*/
    padding: 5px 10px !important;

}